/*A simple comment in css*/  
:root{ 
    --background: #7DA2FF;
}

body {
    background: var(--background);
    font-family: 'OpenSans', sans-serif;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    font-family: 'OpenSans', sans-serif;
    text-align: center;
}
